a, a.read:link {text-decoration:none;color:#698E55;}
a, a.read:visited {text-decoration:none;color:#698E55;}
a, a.read:hover {text-decoration:underline;color:#698E55;}
a, a.read:active {text-decoration:none;color:#698E55;}

a.unread:link      {text-decoration:none;color:#B8663C;}
a.unread:visited   {text-decoration:none;color:#B8663C;}
a.unread:hover     {text-decoration:underline;color:#B8663C;}
a.unread:active    {text-decoration:none;color:#B8663C;}

/*
a.unread:link      {text-decoration:none;color:#77bee0;}
a.unread:visited   {text-decoration:none;color:#77bee0;}
a.unread:hover     {text-decoration:underline;color:#77bee0;}
a.unread:active    {text-decoration:none;color:#77bee0;}
*/

body {
    color:            #8a8a8a;
    background-color: #262626;
    font-family:      Droid-Sans, sans-serif;
    font-size:        .8em;
    padding: 0px;
}

img {
    display:       block; 
    margin-left:   auto;
    margin-right:  auto;
    margin-top:    1em;
    margin-bottom: 1em;
    padding:       .5em;
    max-width:     40em; 
} 

p { margin: 0em;}
pre, code {
    font-size:     .95em;
    width:         10em;
	color:         #4D4C4C;
    margin-top:    .5em;
    margin-bottom: .5em;
    font-family:   Droid-Sans-Mono, Monospace;
}

ul li:before {
    margin-left: .5em;
	content:     "\003A \003A \0020";
    font-weight: bold;
    color:       #DDDDDD;
	}

ul {
	list-style:    none;
    margin:        .5em;
    padding-left:  1.1em;
    padding-right: .5em;
    text-indent:   -1.5em;
} 

h1, h2, h3, h4, h5 {
    color:#DDDDDD;
    font-size: 1em;
}

#main_wrapper {
    position:    relative;
    margin-left: auto;
    margin-right: auto;
    width:       980px;
    border:      solid 1px white;
    margin-bottom: 2.5em;
}

#sidebar{ float: left;}
#sidebar>iframe {
    border: none; 
    width: 13em;
    height: 150em;;
    padding: 0px;
    margin-top: 2em;
}

.menu {
    padding-bottom:       0em;
    width:                12.0em;
    margin-bottom:        2em;
    float: left;
}
.menu .menu_group_title {
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
    text-align:           right;
    padding:               .25em;
	border:                solid .1em #3e3e3e;
    margin-bottom:         .25em;
}
.menu .menu_group_content>div>a:before { content:':: '; font-weight:bold; color:#DDDDDD; } 
.menu .menu_group_content>div>a {display:block;}
.menu .menu_group_content>div { text-indent:-1em;} 
.menu .menu_group_content {
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
    padding:       .5em;
    display:       block;
    padding-left:  1.5em;
    margin-bottom: .25em;
    background-color: #262626;
    text-align:    left;
}

#feed_header {
    -webkit-box-shadow: 0px 5px 5px #1a1a1a;
    -moz-box-shadow:    0px 5px 5px #1a1a1a;
    box-shadow:         0px 5px 5px #1a1a1a;
    height: 2.3em;
    position: fixed;
    top: 0em;
    left:0em;
    right:0em;
    background-color: #222222;
}
#feed_header_wrapper { width:980px; margin-left:auto; margin-right:auto; }
#feed_header #feed_title:before { content:"\003A \003A \0020 StaticRSS | "; font-weight:bold; }
#feed_header #feed_title { 
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    float: left;
    margin-top: .35em;
    margin-left: .5em;
    border-radius:         5px;
    font-size:             1.3em; 
    font-weight:           bold;
    text-transform:        uppercase;
    white-space:           nowrap;
    overflow:              hidden;
    text-overflow:         ellipsis;
    color:                 #DDDDDD;
}

#top_menu { display: none; }
#feed_header:hover #top_menu {
    -webkit-box-shadow: 0px 5px 5px #1a1a1a;
    -moz-box-shadow:    0px 5px 5px #1a1a1a;
    box-shadow:         0px 5px 5px #1a1a1a;
    float:right;
    margin-right:     1em;
    margin-top:       2.3em;
    display: block;
    height: 6em;
    width:            50em;
    padding:          .5em;
    background-color: #222222;
}

#top_menu .col1 { 
    float:left;
    background-color: #262626;
    padding: .5em;
    width: 30em;
    height:5em;
}

#top_menu .php_buttons div:after { content:"\0020 \003A \003A"; font-weight:bold; } 
#top_menu .php_buttons {
    padding: .5em;
    float:            right;
    text-align: right;
    background-color: #262626;
    width: 10em;
    height:5em;
}

#content { 
    float:      right;
    padding:    .6em;
    width:      62em;
    margin-top: 1em;
}

/* container for every entry on page */
.entry_active { background-color: #2E2E2E;}
.feed_active { background-color: #2E2E2E;}
.entry_box { 
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
    margin-top:1em; 
	border: solid .1em #3e3e3e;
} 

.entry_header_wrapper.a {display:block;}
.entry_header_wrapper{ 
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
    padding:          .5em;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.entry_date_published { 
    text-align:   right;
    color:        #DDDDDD;
}
.entry_title { 
    float:       left;
    text-align:  left;
    font-weight: bold;
}
.entry_content { 
    -webkit-border-radius: 5px;
    -moz-border-radius:    5px;
    border-radius:         5px;
    margin-left:  auto;
    margin-right: auto;
    text-align:   justify;
    padding: .5em;
}

