<!DOCTYPE html>
<HTML lang="en">
     <HEAD>
        <META charset="utf-8">
        <TITLE>StaticRSS|$feed_title</TITLE>
        <LINK rel="shortcut icon" href="$favicon">
        <LINK rel="stylesheet" type="text/css" href="$css">
        {{switch=auto_refresh}}
        <SCRIPT type="text/javascript">document.write("<meta http-equiv='refresh' content='$auto_refresh' >");</SCRIPT>
        {{endswitch}}
    </HEAD>
    <BODY>
        {{switch=auto_mark_read}}
        <IFRAME style="display:none" src="$domain/php/mark_read.php?hash=$feed_hash&amp;mode=silent"></IFRAME>
        {{endswitch}}
        <DIV id="main_wrapper">
            <DIV class="feed_sidebar">
                <UL>
                    {{loop=feed_list}}
                    <A class="group_title">$group_title</A>
                    <LI><A HREF="$feed_url" class="$feed_read">$feed_link$counter</A></LI>
                    {{endloop}}
                </UL>
            </DIV>
            <DIV class="entry_sidebar"> 
                <UL>
                    {{loop=entry_list}}
                    <LI><A HREF="$entry_url#$entry_hash" class="$entry_read">$entry_title</A></LI>
                    {{endloop}}
                </UL>
            </DIV>
        <DIV id="feed_wrapper">
            <DIV id="feed_title">$feed_title</DIV>
                <DIV class="php_buttons">
                    {{switch=mark_read}}
                    <A HREF="$domain/php/mark_read.php?hash=$feed_hash&amp;go_back=$go_back">mark feed read</A>
                    {{endswitch}}
                    {{switch=mark_all_read}}
                    ::
                    <A HREF="$domain/php/mark_read.php?hash=all&amp;go_back=$go_back">mark all read</A>
                    {{endswitch}}
                    {{switch=update_feeds}}
                    ::
                    <A HREF="$domain/php/update.php?go_back=$go_back">update</A>
                    {{endswitch}}
                </DIV>
                <DIV class="page_links">
                    <A HREF=$page_prev>&lt;</A>
                    {{loop=page_links}}
                    <A HREF="$page_url">$page</A>
                    {{endloop}}
                    <A HREF=$page_next>></A>
                </DIV>
                {{loop=entries}}
                <DIV class="entry_box">
                    <DIV class="entry_header_wrapper">
                        <DIV class="entry_title"><A id="$entry_hash" HREF="$entry_url" class="$entry_read" target="$links_target">$entry_title</A></DIV>
                    </DIV>
                    <DIV class="entry_date_published">$entry_date_published</DIV>
                    <DIV class="entry_content">$entry_content</DIV>
                </DIV>
                {{endloop}}
                <DIV class="php_buttons">
                    {{switch=mark_read}}
                    <A HREF="$domain/php/mark_read.php?hash=$feed_hash&amp;go_back=$go_back">mark feed read</A>
                    {{endswitch}}
                    {{switch=mark_all_read}}
                    |
                    <A HREF="$domain/php/mark_read.php?hash=all&amp;go_back=$go_back">mark all read</A>
                    {{endswitch}}
                    {{switch=update_feeds}}
                    |
                    <A HREF="$domain/php/update.php?go_back=$go_back">update</A>
                    {{endswitch}}
                </DIV>
                <DIV class="page_links">
                    <A HREF=$page_prev>&lt;</A>
                    {{loop=page_links}}
                        <A HREF="$page_url">$page</A>
                    {{endloop}}
                    <A HREF=$page_next>></A>
                </DIV>
            </DIV>
        </DIV>
    </BODY>
</HTML>
