<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <META charset="utf-8">
        <TITLE>StaticRSS|$feed_title</TITLE>
        <LINK rel="shortcut icon" href="$favicon">
        <LINK rel="stylesheet" type="text/css" href="$css">
        <link href="../../css/lightbox.css" rel="stylesheet" />  
        {{switch=auto_refresh}}
        <script> document.write("<meta http-equiv='refresh' content='$auto_refresh' >");</script>
        {{endswitch=auto_refresh}}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="../../js/lightbox.js"></script>
        <script src="../../js/jquery.jscroll.min.js"></script>
        <!-- <script src="../../js/keys.js"></script> -->
        <script> $(document).ready(function() { $('.scroll').jscroll(); });</script>
        <script> $(document).ready(function() { $('a:has(img)').attr('rel','lightbox'); });</script>
    </HEAD>
    <BODY>
        <DIV id="main_wrapper">
            <DIV id=sidebar><IFRAME id="menu" src="$domain/menu.html"></IFRAME></DIV>
            <DIV id="feed_header">
                <DIV id="feed_header_wrapper">
                    <DIV id="feed_title">$feed_title</DIV>
                    <DIV id="triangle" class="triangle"></DIV>
                </DIV>
                <DIV id="top_menu">
                    <DIV class="col1">
                        <H3>License</H3>
                        <P>StaticRSS is released under GPLv3.</P>
                        <P>Get source code and contact me at <A HREF="https://github.com/elcoco/static-rss">github</A>.</P>
                    </DIV>
                    {{switch=php_buttons}}
                    <DIV class="php_buttons">
                        <H3>Options</H3>
                        <DIV><A HREF="$domain/php/mark_read.php?hash=$feed_hash&amp;go_back=$go_back">Mark read</A></DIV>
                        <DIV><A HREF="$domain/php/mark_read.php?hash=all&amp;go_back=$go_back">Mark all read</A></DIV>
                        <DIV><A HREF="$domain/php/update.php?go_back=$go_back">Update</A></DIV>
                        <DIV><A HREF="$domain/php/del_feed.php?hash=$feed_hash&amp;go_back=$domain">Delete feed</A></DIV>
                    </DIV>
                    {{endswitch=php_buttons}}
                </DIV>
            </DIV>
            <DIV id="content" class="scroll">
            {{loop=page}}
            <!-- Loop entries in the page template and insert here -->
            {{endloop=page}}
            </DIV>
        </DIV>
        {{switch=auto_mark_read}}
        <IFRAME style="display:none" src="$domain/php/mark_read.php?hash=$feed_hash&amp;mode=silent"></IFRAME>
        {{endswitch=auto_mark_read}}
    </BODY>
</HTML>
