                    {{loop=entries}}
                    <div class="entry_box">
                        <div class="entry_header_wrapper">
                            <a id="$entry_hash" class="entry_title $entry_read" HREF="$entry_url" target="$links_target">$entry_title</a>
                            <div class="entry_date_published">$entry_date_published</div>
                        </div>
                        <div class="entry_content">
                            {{loop=media}}
                            <div><AUDIO controls="controls" preload="metadata"> <source src="$entry_media" />Your browser does not support the HTML5 audio element</audio></div>
                            <a href="$entry_media">[Download media]</a>
                            {{endloop=media}}
                            $entry_content
                        </div>
                    </div>
                    {{endloop=entries}}
                    {{switch=next}}
                    <div class="load_next"><a href="$page_next" class="next">more</a></div>
                    {{endswitch=next}}
